
head
  link(href="/css/main.css", rel="stylesheet")
  link(rel="stylesheet", href="/css/tailwind.css")
  link(href="/css/common.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
  link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
  script( src="https://kit.fontawesome.com/5dfbb23354.js")
body
  //- a(href="/") Home
  //- if locals.user
  //-   a(href="/user") Profile
  //-   a(href="/auth/logout") Log Out
  //- else
  //-   a(href="/auth/login") Log In
  
  block content
